.image-slider {
  position: relative;
  width: 100vw; 
  height: 100vh; /* Full height */
  margin: 0;
  overflow: hidden;
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Albert Sans','light', sans-serif;
    box-sizing: border-box; /* Хэмжээг зөв тооцоолох */
  
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  background-color: transparent; 
  color: white;
  padding: 20px;
  cursor: pointer;
  border: none; 
  z-index: 10;
  height: 50px;  /* Optionally, adjust height */
  width: 50px;
  font-size: 2rem;
  transform: translateY(-50%); /* Vertically center the buttons */
}

.prev-btn:hover, .next-btn:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Add a light hover effect */
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  z-index: 1;
}

.text-overlay h2 {
  position: relative;
  top: 20%;
  font-weight: 300;
  font-size: 3rem;
  width: 100%;
  margin: 0;
  text-align: center;
}

.transparent-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  width: auto;
  height: 50px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}

.transparent-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
