.forgot-container {
    min-height: 100vh;
    background-color: #002d5b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .forgot-box {
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: #0a58ca;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #084298;
  }
  